[ req ]
prompt             = no
days               = 365
default_bits       = 2048
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = v3_req


[ req_distinguished_name ]
countryName            = KR
stateOrProvinceName    = Seoul
localityName           = Jongno-gu
organizationName       = Asiana IDT Inc.
organizationalUnitName = TI Team
commonName             = *.asianaidt.com
emailAddress           = toson@asianaidt.com


[ v3_req ]
basicConstraints = CA:FALSE 
keyUsage         = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName   = @alt_names


[ alt_names ]
DNS.1 = openssl.asianaidt.com
DNS.2 = tomcat.asianaidt.com
DNS.3 = mail.asianaidt.com
DNS.4 = *.asianaidt.com
